* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    .image {
      display: flex;
      justify-content: center;
      padding-bottom: 90px;
      .map {
        width: 100%;
        max-width: 1230px;
        height: auto;
        object-fit: contain;
        padding-left: 2%;
        padding-right: 2%;
      }
    }
  }
  