.main {

    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 0;


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 135px;
        padding-left: 9.51%;
        padding-right: 10.46%;

        .image1 {
            width: 37.42%;


            img {
                object-fit: contain;
                width: 100%;
                height: auto;
            }

        }

        .text {

            width: 45%;
            height: auto;


            h2 {
                color: #959595;
                font-family: Courgette;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
                margin-bottom: 26px;
            }

            h1 {
                color: #1A750B;
                font-family: Nunito;
                font-size: 36px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                margin-bottom: 26px;
                width: 100%;
            }

            .image2 {
                display: none;
            }

            .para {

                color: #6F6F6F;
                font-family: Nunito;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130.5%;
                margin-bottom: 18px;
                /* 20.88px */
            }

            div {
                display: flex;
                align-items: center;
                gap: 3px;
                margin-top: 32px;

                .KnowMore {
                    color: #086C30;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 131.5%;
                    /* 18.41px */
                    letter-spacing: -0.28px;
                    padding-right: 7px;
                }
            }
        }
    }
}

@media screen and (max-width: 789px) {


    .main {


        .container {
            display: flex;
            width: 100%;
            padding: 0;


            .image1 {

                display: none;

            }

            .text {

                width: 100%;

                display: flex;
                flex-direction: column;
                gap: 23px;
                align-items: center;



                h2 {
                    color: #959595;
                    font-family: Courgette;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                }

                h1 {
                    color: #1A750B;
                    width: 300px;
                    font-family: Nunito;
                    font-size: 34px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                }

                .image2 {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: auto;


                    img {
                        justify-content: center;
                        width: 100%;
                        height: auto;
                    }
                }

                p {

                    color: #6F6F6F;
                    font-family: Nunito;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130.5%;
                    width: 100%;
                    padding-left: 9.51%;
                    padding-right: 10.46%;
                    /* 20.88px */
                }

                .KnowMore {
                    width: 100px;
                }   
            }
        }
    }
}



// ----------------------------------------------------------------------------------------------------------------------------

.main-2 {

    width: 100%;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 9.51%;
        padding-right: 10.46%;
        justify-content: space-between;
        align-items: center;

        .image1 {
            width: 37.42%;


            img {
                object-fit: contain;
                width: 100%;
                height: auto;
            }

        }

        .text {

            width: 45%;

            display: flex;
            flex-direction: column;
            gap: 23px;
            align-items: start;


            h2 {
                color: #959595;
                font-family: Courgette;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
            }

            h1 {
                color: #1A750B;
                font-family: Nunito;
                font-size: 36px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }

            .image2 {
                display: none;
            }

            p {

                color: #6F6F6F;
                font-family: Nunito;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130.5%;
                /* 20.88px */
            }

            .KnowMore {
                width: 100px;
            }
        }
    }
}

@media screen and (max-width: 786px) {


    .main-2 {

        .container {
            display: flex;
            width: 100%;
            padding: 0;


            .image1 {

                display: none;

            }

            .text {

                width: 100%;

                display: flex;
                flex-direction: column;
                gap: 23px;
                align-items: center;


                h2 {
                    color: #959595;
                    font-family: Courgette;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                }

                h1 {
                    color: #1A750B;
                    width: 300px;
                    font-family: Nunito;
                    font-size: 34px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                }

                .image2 {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: auto;

                    img {
                        justify-content: center;
                        width: 100%;
                        height: auto;
                    }
                }

                p {

                    color: #6F6F6F;
                    font-family: Nunito;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130.5%;
                    width: 100%;
                    padding-left: 9.51%;
                    padding-right: 10.46%;
                    /* 20.88px */
                }

                
                .KnowMore {
                    width: 100px;
                }
            }
        }
    }
}

// ------------------------------------------------------------------------------------------------------------

.main-3 {

    width: 100%;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        flex-direction: row-reverse;
        padding-left: 9.51%;
        padding-right: 10.46%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 135px;

        .image1 {
            width: 37.42%;


            img {
                object-fit: contain;
                width: 100%;
                height: auto;
            }

        }

        .text {

            width: 45%;

            display: flex;
            flex-direction: column;
            gap: 23px;
            align-items: start;


            h2 {
                color: #959595;
                font-family: Courgette;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
            }

            h1 {
                color: #1A750B;
                font-family: Nunito;
                font-size: 36px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }

            .image2 {
                display: none;
            }

            p {

                color: #6F6F6F;
                font-family: Nunito;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130.5%;
                /* 20.88px */
            }

            .KnowMore {
                width: 100px;
            }
        }
    }
}

@media screen and (max-width: 786px) {


    .main-3 {

        .container {
            display: flex;
            width: 100%;
            padding: 0;


            .image1 {

                display: none;

            }

            .text {

                width: 100%;

                display: flex;
                flex-direction: column;
                gap: 23px;
                align-items: center;


                h2 {
                    color: #959595;
                    font-family: Courgette;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: capitalize;
                }

                h1 {
                    color: #1A750B;
                    width: 300px;
                    font-family: Nunito;
                    font-size: 34px;
                    text-align: center;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                }

                .image2 {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: auto;

                    img {
                        justify-content: center;
                        width: 100%;
                        height: auto;
                    }
                }

                p {

                    color: #6F6F6F;
                    font-family: Nunito;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 130.5%;
                    width: 100%;
                    padding-left: 9.51%;
                    padding-right: 10.46%;
                    /* 20.88px */
                }

                
                .KnowMore {
                    width: 100px;
                }
            }
        }
    }
}