.mainMC {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 172px;
    background-color: #FCFBEF;

    h2 {
        color: #9E9E9E;
        text-align: center;
        font-family: Courgette;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 12px;
    }

    h1 {
        color: #175A0C;
        text-align: center;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 39px;
    }

    ul {
        display: flex;
        list-style: none;
        width: 56.86%;
        justify-content: space-between;
        margin-bottom: 78px;


        li {
            color: #7C7C7C;
            text-align: center;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            height: 21px;



            &:hover {
                border-bottom: 2px solid #8BB31D;
                cursor: pointer;
            }
        }


    }

    .divlast {

        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 21%;
        padding-right: 15.81%;



        .left {
            width: 306px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // height: 263px;
            padding-right: 10px;

            .li {
                display: flex;


                .H6-1 {
                    color: #828282;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 142%;
                    /* 18.46px */
                    text-transform: capitalize;
                }

                .H6-2 {
                    color: #828282;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                }

                p {
                    flex: 1;
                    border-bottom: 2px dotted #ECECEC;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 142%;
                    /* 18.46px */
                    text-transform: capitalize;
                }
            }
        }

        .dhosa {
            width: 45%;
            height: auto;
            object-fit: contain;
        }
    }

    .mobile {
        display: none;
    }



}

@media screen and (max-width:900px) {

    .mainMC {


        h2 {}

        h1 {}

        ul {
            display: flex;
            list-style: none;
            width: 80%;
            justify-content: space-between;

            li {

                &:hover {
                    border-bottom: 2px solid #8BB31D;

                }
            }


        }

        .divlast {

            .left {
                width: 312px;
                display: flex;
                height: 263px;
                flex-direction: column;
                justify-content: space-between;

                .li {
                    display: flex;


                    .H6-1 {}

                }

                p {}
            }
        }

        .mobile {
            display: none;
        }

    }

}

@media screen and (max-width:798px) {

    .mainMC {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
        padding-bottom: 20px;

        h2 {}

        h1 {}

        ul {
            display: flex;
            list-style: none;
            width: 100%;
            gap: 65px;
            padding-left: 5.55%;
            padding-right: 4.34%;
            overflow: scroll;

            li {
                min-width: 101px;

                &:hover {
                    border-bottom: 2px solid #8BB31D;
                }
            }


        }

        .divlast {

            display: flex;
            gap: 12.36%;
            flex-direction: column;
            align-items: center;
            padding-left: 12.07%;
            padding-right: 13.77%;
            margin-bottom: 47px;

            .dhosa {
                display: none;
            }

            .left {
                width: 100%;
                display: flex;
                height: 263px;
                flex-direction: column;
                justify-content: space-between;

                .li {
                    display: flex;


                    .H6-1 {}

                }

                p {}
            }
        }

        .mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            h1 {
                color: #1A750B;
                font-family: Courgette;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
                padding-top: 20px;
                padding-bottom: 6px;
                margin-bottom: 0;
            }

            p {
                color: #6F6F6F;
                font-family: Nunito;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 130.5%;
                padding-left: 7.72%;
                padding-right: 10.62%;
                /* 20.88px */
            }

            .mobimage {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}