* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.imagetag {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  background-color: #FCFBEF;

  .map {
    width: 100%;
    max-width: 1230px;
    height: auto;
    object-fit: contain;
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media screen and (max-width: 798px) {
  .imagetag {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;

    .map {
      width: 100%;
      max-width: 1230px;
      height: auto;
      object-fit: contain;
      padding-left: 2%;
      padding-right: 2%;
    }
  }
}
