.Header {
    display: flex;
    width: 100%;
    background-color: #4CA53E;
    justify-content: space-between;
    height: 114px;
    align-items: center;
    padding-left: 9.88%;
    padding-right: 10.10%;
    margin-bottom: 80px;

    .logo {
        svg {
            width: 67.992px;
            height: 71.769px;
            flex-shrink: 0;
        }
    }


    ul {
        width: 43%;
        // max-width: 468px ;
        display: flex;
        list-style: none;
        justify-content: space-between;



        li {



            color: #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
            padding-bottom: 5px;

            .link {
                all: unset;
            }

            &:hover {
                padding-bottom: 3px;
                border-bottom: 2px solid white;


            }
        }
    }

    .menu {
        display: none;
    }
}

@media screen and (max-width: 789px) {
    .Header {

        ul {
            display: none;
        }

        .menu {
            display: flex;
        }
    }
}